$colors: red, orange, yellow, blue;
$size: 20;

@mixin Rainbow-shadow($colors, $offset: 0,
$size: $size) {
    $len: length($colors);
    $outp: 0px 0px transparent;
    @for $i from 1 through $size {
        $ind: floor(max($i + $offset, 1) /
        $size * length($colors) ) % $len +1;
        $col: nth($colors, $ind);
        $outp: #{$outp}, #{$i}px #{$i}px #{$col};
}
text-shadow: $outp;
}
p {
    animation: animated-rainbow-shadow 1s infinite;
}
@keyframes animated-rainbow-shadow {
    @for $i from 0 to $size + 1 {
        #{$i / $size * 100}% {
            @include Rainbow-shadow($colors, $i);
        }
    }
}
    
