/* @import "bourbon"; */


body {
    background-image: url("https://i.imgur.com/QLde8NU.png");
    /* background-image: url("https://i.imgur.com/jEz7hGz.png"); */
}
.carousel-inner {
    top: 10%;
    box-shadow: 10px 10px black;
}
h2 {
    font-family: fantasy; 
 }
 .item {
     font-family: fantasy;
 }
 p {
     /* text-decoration: none;
     @include transform(perspective(2.5em)
     rotatex(15deg) scaleY(0.8);
     @include transition(all 0.5s);
     text-transform: uppercase; */
     color: white;
     text-shadow: 1px 1px 2px black, 0px 0px 4px gray, 0px 0px 8px gray;

 }
 .top {
     /* float: left; */
    
     opacity: .1;
     position: relative;
     top: 0;
     left: 0;
 
 }
 .bottom {
     /* float: left; */
     opacity: .85    ;
     position: absolute;
     /* align-content: inherit; */
     /* align-content: center; */
    top:.1px;
     left: 40%;
     bottom: 90px;
     right: 80px;
     width: 250px;
     height: 50px;
 }
 #top1 {
     color: white;
     font-size: 30px;
     position: absolute;
     align-content: inherit;
     padding-left: 80px;
     padding-top: 200px;
 }
 #Name {
 
     color: rgb(54, 4, 146);
     position: fixed;
     /* position: absolute; */
    top: 2.3%;
    left: 43%;
     z-index: 1;
 }
 #quote2 {
     color: white;
     font-size: 30px;
     position: absolute;
     align-content: inherit;
     padding-left: 80px;
     padding-top: 200px;
 }
 #port {
     font-size: 3rem;
     text-shadow: 5px 5px 2.5px black;
 
 }
 #link1 {
     font-size: 2rem;
     color: orange;
     text-shadow: 5px 5px 2.5px black;
 }
 #link2 {
     color: orange;
     font-size: 2rem;
     text-shadow: 5px 5px 2.5px black;
 
 }
 #link3 {
     font-size: 2rem;
     color: orange;    
     text-shadow: 5px 5px 2.5px black;
 
 }
 #mission {
     font-size: 20px;
 }
 #send {
     color: green;
 }
 #reset {
     color: green;
 }
 #mapid {
     height: 180px;
     z-index: 1;
 }
 #second_slide {
     opacity: .1;
 }
 #third_slide {
     opacity: .1;
 }
 #link4 {
     font-size: 2rem;
     color: orange;
     text-shadow: 5px 5px 2.5px black;
 }
 h2 {
     color: black;
     text-align: center;
     text-shadow: 5px 5px 10px black;
 }